<web-app>
<servlet>
<servlet-class>loginController</servlet-class>
<servlet-name>ds1</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>ds1</servlet-name>
<url-pattern>/db1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-class>category</servlet-class>
<servlet-name>categoryServlet</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>categoryServlet</servlet-name>
<url-pattern>/catServ</url-pattern>
</servlet-mapping>

<servlet>
<servlet-class>subCategory</servlet-class>
<servlet-name>subCategoryServlet</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>subCategoryServlet</servlet-name>
<url-pattern>/subCatServ</url-pattern>
</servlet-mapping>

<servlet>
<servlet-class>displayCart</servlet-class>
<servlet-name>cartServlet</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>cartServlet</servlet-name>
<url-pattern>/cartServ</url-pattern>
</servlet-mapping>


</web-app>